.IntroPage{
position: relative;
}
.personalInfo{
    position: absolute;
    left:10%;
    top:15%;
    font-size: 40px;
}
.personalInfo h3{
    font-size: 20px;
    font-weight: 100;
}
.socialMedia{
    position: absolute;
    top:50px;
    right:200px;

    display: flex;
    flex-direction: column;
    gap:30px;
    z-index:2;
}
.socialMedia a{
    text-decoration: none;
}
.socialMedia > *:hover{
    cursor: pointer;
}
.IntroBackground{
    position:relative;
    width:100%;
    height:550px;

    display: flex;
    align-items: flex-end;
}
.IntroBackground svg{
    position:absolute;
    left:0;
    z-index: -1;
}
.IntroBackground img{
    position: absolute;
    right:150px;
}

@media screen and (max-width:1000px) {
    .personalInfo{
        top:30%;
        left:50%;
        transform: translate(-50%,-100%);
        font-size:30px;
    }
    .personalInfo h3{
        font-size: 20px;
    }
    .IntroBackground{
        height:600px;
    }
    .IntroBackground img{
        top:50%;
        left:50%;
        transform: translate(-50%,-35%);
    }
    .socialMedia{
        right:15%;
        top:60%;
    }
}
@media screen and (max-width:600px){
    .socialMedia{
        top:40%;
    }
}