@import './var.css';

.App{
    /* background-color: var(--color-bg); */
    width:100%;
    height:100%;

    padding:5% 0;

    color:black;
    text-align: center;

    position: relative;
}

.stickyNav{
    position:fixed;
    width:100%;
    z-index:3;
    transition:all .6s ease;
}
#scroll{
    top:0;
    padding:2%;
    background-color: rgb(59, 78, 200);
}
#scroll div h2{
    color:white;
}
#scroll .hamburger{
    color:white;
}

/*---------------------------- Animated background ----------------------*/
.wrapper{
    position:absolute;
    width:100%;
    height:100%;
}
.box div{
    position:absolute;
    width:50px;
    height: 50px;
    background-color: transparent;
    border:5px solid rgba(42, 63, 201, 0.8);
}
.box div:nth-child(1){
    top:10%;
    left:6%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(2){
    top:22%;
    left:84%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(3){
    top:5%;
    left:93%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(4){
    top:10%;
    left:67%;
    animation: animate 3s linear infinite;
}
.box div:nth-child(5){
    top:15%;
    left:51%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top:5%;
    left:36%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(7){
    top: 23%;
    left:25%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(8){
    top:0%;
    left:20%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(9){
    top:30%;
    left:65%;
    animation: animate 7.5s linear infinite;
}
.box div:nth-child(10){
    top:32%;
    left:42%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(11){
    top:60%;
    left:6%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(12){
    top:82%;
    left:84%;
    animation: animate 4s linear infinite;
}
.box div:nth-child(13){
    top:75%;
    left:50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(14){
    top:90%;
    left:15%;
    animation: animate 3s linear infinite;
}
.box div:nth-child(15){
    top:55%;
    left:70%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(16){
    top:48%;
    left:30%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(17){
    top: 69%;
    left:93%;
    animation: animate 8s linear infinite;
}
.box div:nth-child(18){
    top:60%;
    left:45%;
    animation: animate 5s linear infinite;
}
.box div:nth-child(19){
    top:95%;
    left:68%;
    animation: animate 7.5s linear infinite;
}
.box div:nth-child(20){
    top:100%;
    left:40%;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100% {
        transform: scale(1.1) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}


/*------------------------------ hamburger --------------------------------*/

.hamburger{
    display: none;
}

.hideNav,.mobileNav{
    display: none;
}
/*-------------------- Navbar -------------------------*/

.Navbar{
    display: flex;
    justify-content: space-between;

    padding:0 10%;
}
.Navbar h2{
    font-size:2em;
}
.Navbar nav{
    position: relative;
    width:524px;
    height:50px;
}
nav a{
    position: relative;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    padding:10px 23px;
    z-index:2;
}

nav span{
    position:absolute;
    left:0;
    top:0;
    width: 120px;
    height:45px;
    background-color:transparent;
    border-radius: 5px;
    left:25px;
    transition:0.3s ease;
}

nav a:hover{
    cursor: pointer;
    color:white;
}

.activeLink1,.activeLink2,.activeLink3,.activeLink4{
    color:white;
}

nav a:nth-child(1):hover~span,nav .activeLink1~span{
    left:25px;
    background-color: var(--color-secondary);
}
nav a:nth-child(2):hover~span,nav .activeLink2~span{
    left:150px;
    width:110px;
    background-color: var(--color-secondary);
}
nav a:nth-child(3):hover~span,nav .activeLink3~span{
    left:260px;
    background-color: var(--color-secondary);
}
nav a:nth-child(4):hover~span,nav .activeLink4~span{
    left:390px;
    width:110px;
    background-color: var(--color-secondary);
}


@keyframes colorChange {
    0%{
        background-color: rgba(0,0,0,0);
    }
    100%{
        background-color: var(--color-secondary);
    }
}

@media screen and (max-width:800px) {
    .hamburger{
        display: block;
        position: absolute;
        right:15%;
    }
    nav{
        display: none;
    }
    /*------------------------ mobileNav ----------------------------------*/

    .mobileNav{
        display: flex;
        justify-content: center;
        position: absolute;
        right:20%;
        z-index: 2;

        width:150px;
        background-color: rgb(14, 107, 237);
        color:white;
    }
    .mobileNav ul{
        list-style: none;
        line-height: 30px;
    }
    .mobileNav ul li{
        font-size: 20px;
        padding:10px;
        border-bottom: 1px solid black;
    }
    .mobileNav ul li:hover{
        background-color: rgb(40, 65, 227);
    }
    .Intro{
        padding-top:7%;
    }
}

@media screen and (max-width:600px){
    .Intro{
        padding-top: 15%;
    }
}

/*---------------------- IntroSection -------------------*/

.Intro{
    width:100%;
    margin-top: 3%;
}

/*---------------------- Contact -------------------*/

.Contact{
    margin-top: 15%;
}